/*Font import*/
@import url(//fonts.googleapis.com/css?family=Quicksand);

/* Show it's not fixed to the top */
body {
  min-height: 75rem;
  font-family: 'Quicksand', sans-serif;
}

/*Styling Main Weather Card*/
.main-weather-card {
  border-radius: 5px;
  border-left: 3px solid#5E60CE;
}

.weather-icon {
  font-size:96px;
  color: #6830c375;
}


/*Colors for the website*/
.color-main {
  background-color: #7400B8;
}

.color-bg1 {
  background-color: #6930C3;
}

.color-bg2 {
  background-color: #5E60CE;
}

.color-bg3 {
  background-color: #5390D9;
}

.color-bg4 {
  background-color: #4EA8DE;
}

.color-bg5 {
  background-color: #48BFE3;
}

.color-bg6 {
  background-color: #56CFE1;
}

.color-bg7 {
  background-color: #64DFDF;
}

.days-container .tab-content {
  border: 1px solid #eee;
}

.days-container .nav-link {
  transition: all 0.15s;
}

.days-container .nav-link.active {
  background-color: red;
}

.days-container .nav-link:hover:not(.active) {
  background-color: blue;
}